.header
    .container

        .header_top.flex_row__between

            a(class='header_logo' href='')
                img(src='img/logo.png' alt='')

            .flex_column
                ul.header_contact
                    li
                        a(class='link-spy' data-spy='.contact') Санкт-Петербург, пр. Энгельса, д. 124, к 1. ТРК «Вояж»
                    li
                        a(class='' href='mailto:office@3206161.ru') office@3206161.ru

                ul.header_nav.flex_row__between
                    li
                        a(class='link-spy' data-spy='.sanction h2') Штрафы
                    li
                        a(class='link-spy' data-spy='.suit h2') Для кого подойдет
                    li
                        a(class='link-spy' data-spy='.cash h2') Кассы
                    li
                        a(class='link-spy' data-spy='.step h2') Этапы работы
                    li
                        a(class='link-spy' data-spy='.contact') Контакты

            .header_call.flex_column
                a(class='' href='tel:88123206161') 8 (812) 320-61-61
                button(class='btn inverted' type='button') Заказать звонок

        //header_top__mob begin ========
        .header_top.header_top__mob.flex_row__between

            button(class='burger' type='button')
                i

            .header_sidebar

                ul.header_nav.flex_row__between
                    li
                        a(class='link-spy' data-spy='.sanction') Штрафы
                    li
                        a(class='link-spy' data-spy='.suit') Для кого подойдет
                    li
                        a(class='link-spy' data-spy='.cash') Кассы
                    li
                        a(class='link-spy' data-spy='.step') Этапы работы
                    li
                        a(class='link-spy' data-spy='.contact') Контакты
                ul.header_contact.header_contact__mob
                    li
                        a(class='link-spy' data-spy='.contact') Санкт-Петербург, пр. Энгельса, д. 124, к 1. ТРК «Вояж»
                    li
                        a(class='' href='mailto:office@3206161.ru') office@3206161.ru
                .header_call.header_call__mob.flex_column
                    a(class='' href='tel:88123206161') 8 (812) 320-61-61
                    button(class='btn inverted' type='button') Заказать звонок

            a(class='header_logo' href='')
                img(src='img/logo.png' alt='')

            .header_call.flex_column
                a(class='' href='tel:88123206161') 8 (812) 320-61-61
                button(class='btn inverted' type='button') Заказать звонок
        //header_top__mob end ========

        h1 Готовая касса под ключ <span class='text-black'>за <span class='text-attentionCol'>1день</span> всего за <span class='text-attentionCol'>30</span> т.р</span>

        .header_form
            img(class='header_cash' src='img/header-cash.png' alt='')
            p.header_form__text1 Заказать кассу под ключ!
            p.header_form__text2 Оставьте заявку и наш мменеджер свяжется с Вами в течении 10 минут!
            form
                input(type='text' placeholder='Имя')
                input(class='tel' type='tel' placeholder='Телефон')
                input(type='email' placeholder='E-mail')
                button(class='btn') Заказать
            p.form_agree Нажимая на кнопку, вы принимаете <a class='text-attentionCol' href=''>Положение</a> и <a class='text-attentionCol' href=''>Согласие</a> на обработку персональных данных.

        ul.header_feature.flex_row__between
            li Экономим Ваше время! Все берем на себя!
            li Предоставляем готовое решение! Касса сразу готова к работе!
            li Готовая касса под ключ! Все необходимое в одном месте!







