@font-face {
	font-family: 'Stencil Std';
	src: url('/fonts/StencilStd.otf');
}

firstFont = 'Roboto', sans-serif
secondFont =  'Stencil Std'
darkCol = #000000
lightCol = #ffffff
textCol = #3d3d3d
attentionCol = #d50300
careCol = #023672

* {
	font-family: firstFont;
	color: textCol
}

::selection {
	background: #cce2ff
}
::-moz-selection {
	background: #cce2ff
}


.text-attentionCol {
	color: attentionCol
}
.text-bold {
	font-weight: 600
}
.text-black {
	font-weight: 900
}
.text-careCol {
	color: careCol
}
.text-center {
	text-align: center
}

.container {
	margin: 0 auto
	padding: 0 15px

	max-width: 1010px
	width: 100%
}

input {
	display: block
	margin: 0 0 10px 0
	padding: 0 10px

	min-width: 265px
	height: 32px

	font-weight: 100
	font-size: 14px

	border: 1px solid #b4b4b4
	-webkit-border-radius: 100px
	-moz-border-radius: 100px
	border-radius: 100px
	background: rgba(255,255,255,.7);
}


.btn {
	padding: 0 42px 0 42px

	min-height: 32px

	font-size: 16px
	font-weight: 900
	color: lightCol
	text-transform: uppercase

	-webkit-border-radius: 100px
	-moz-border-radius: 100px
	border-radius: 100px
	background: -moz-linear-gradient(60deg, rgb(140, 2, 0) 0%, rgb(213, 3, 0) 100%);
	background: -webkit-linear-gradient(60deg, rgb(140, 2, 0) 0%, rgb(213, 3, 0) 100%);
	background: -ms-linear-gradient(60deg, rgb(140, 2, 0) 0%, rgb(213, 3, 0) 100%);

	transition: .2s

	&:hover {
		background: -moz-linear-gradient(60deg, rgb(115, 2, 0) 0%, rgb(188, 3, 0) 100%);
		background: -webkit-linear-gradient(60deg, rgb(115, 2, 0) 0%, rgb(188, 3, 0) 100%);
		background: -ms-linear-gradient(60deg, rgb(115, 2, 0) 0%, rgb(188, 3, 0) 100%);
	}
	&.inverted {
		font-size: 14px
		font-weight: 100
		color: darkCol
		text-transform: none

		border: 1px solid attentionCol
		background: transparent

		&:hover {
			color: lightCol

			background: attentionCol
		}
	}
}

.form_agree {
	margin-top: 8px
	font-size: 12px
	font-weight: 100
	color: #9c9c9c
	a {
		text-decoration: underline
		&:hover {
			text-decoration: none
		}
	}
}

.burger {
	position: relative
	z-index: 1001
	i,
	i::before,
	i::after  {
		background: darkCol
	}
	&.active {
		i::before,
		i::after  {
			background: lightCol
		}
	}
}


.tab_title {
	display: flex
	justify-content: center
	width: 100%
}

.tab_title__item {
	cursor: pointer
	transition: .3s
}


.tab_content__item{
	overflow: hidden
}

.overlay {
	display: none
	position: fixed
	z-index: 1000
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: rgba(0, 0, 0, .5)
	&.active {
		display: block
	}
}

a[data-spy] {
	cursor: pointer;
}

h2 {
	margin: 25px 0 25px 0
	font-size: 54px
	font-weight: 300
	line-height: 68px
	text-transform: uppercase
	text-align: center
	.bordered {
		position: relative
		padding: 12px 22px 12px 22px
		border-top: 1px solid careCol
		border-bottom: 1px solid careCol
		&:before {
			content: ''
			position: absolute
			bottom: 0
			left: 0
			width: 1px
			height: 20px
			background: careCol
		}
		&:after {
			content: ''
			position: absolute
			bottom: 0
			right: 0
			width: 1px
			height: 20px
			background: careCol
		}
		&-top {
			&:before {
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 1px
				height: 20px
				background: careCol
			}
			&:after {
				content: ''
				position: absolute
				top: 0
				right: 0
				width: 1px
				height: 20px
				background: careCol
			}
		}
	}
}
@media (max-width: 750px) {

	h2 {
		font-size: 40px
		line-height: 54px
	}

}

@media (max-width: 500px) {

	h2 {
		font-size: 32px
		line-height: 46px
		.bordered {
			padding: 0
			border: none
			&:before {
				display: none
			}
			&:after {
				display: none
			}
			&-top {
				&:before {
					display: none
				}
				&:after {
					display: none
				}
			}
		}
	}

	input {
		min-width: 100%
	}

}